:root {
	--primary: #0091ff;
	--dark: #061b28;
	--gray: #756388;
	--light: #ffffff;
	--white: #bbb;
	--realWhite: #fff;
	--dark: #111111;
}

/* body {
    background-color: #f2edf3;
     font-family: "Sofia Sans", sans-serif;
     color: #0e0e52;
} */

@media (max-width: 576px) {
    body {
        font-size: 0.8rem;
    }

    .table {
        font-size: 0.8rem;
    }
}

/* Batas Sidebar ================================================================ */
.sidebar-nav-link.active {
    color: var(--realWhite);
}

.sidebar-nav-link:hover {
    color: var(--realWhite);
    letter-spacing: 1.5px;
    transition: 0.3s;
}

@media (min-width: 768px) {
     .adminx-content {
          padding-left: 16rem;
     }
}

.adminx-sidebar.expand-hover {
    width: 16rem;
}

.adminx-sidebar.expand-hover .sidebar-nav-end,
.adminx-sidebar.expand-hover .sidebar-nav-name {
    opacity: 1;
}

.sidebar-nav {
    min-width: 210px;
}

.adminx-sidebar {
    padding-top: 10px;
    /* margin-top: 9px;
    margin-bottom: 9px; */
    /* border-radius: 0px 20px 20px 0; */
    background-color: black !important;
    top: 0 !important;
}
/* .adminx-sidebar {
     background: #f2edf3 !important;
     border-right: 2px blur #b66dff;
     box-shadow: -1px 6px 10px 2px #b66dff7d;
} */

.sidebar-nav-link {
    color: var(--white);
    padding: .5rem 2.5rem;
}

.sidebar-nav-icon .svg, svg {
    font-size: 20px !important;
}

.sidebar-bottom-icon .svg, svg {
    font-size: 17px !important;
}

.icon-social {
    font-size: 24px !important;
    color: var(--realWhite);
}

.link-icon-social:hover {
    transform: translateY(-5px);
}

ion-icon:hover {
    transform: translateY(-5px);
    transition: all 250ms ease;
}

/* .sidebar-sub-nav {
     background-color: white;
} */

/* Batas Topbar ================================================================ */

.navbar-brand {
    /* display: inline-block; */
    /* padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap; */
    color: #0e0e52;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #0e0e52;
    font-weight: bold;
}

.logout-admin {
    color: #0e0e52;
    font-weight: bold;
}

.logout-admin:hover {
    color: #0e0e52;
    font-weight: bold;
}

.navbar {
    /* background: #0e0e52 !important; */
    /* border-bottom: 2px solid #b66dff; */
    border-radius: 0 0 20px 20px;
}

@media (min-width: 768px) {
    .navbar {
        display: none;
    }
}

.adminx-container .navbar {
    box-shadow: 2px -1px 10px 2px #b66dff7d;
}

/* Batas Content ================================================================ */

/* .adminx-main-content { */
/* border: 2px solid #b66dff; */
/* } */

/* Batas Table ================================================================ */

.table-hover tbody tr:hover {
    background-color: #f2edf3;
    /* box-shadow: 1px 2px 10px 2px #b66dff7d; */
}

.table-all {
    box-shadow: 1px 2px 10px 2px #b66dff7d;
}

.kolom-responsive {
    text-align: justify !important;
    white-space: inherit;
}

.kolom-no {
    width: 5%;
    text-align: center;
}

/* Batas Button ================================================================ */

button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #b66dff8f;
    font-size: 0.875rem;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    color: black;
    padding-right: 0px;
    padding-left: 0px;
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 1px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.3em 1.5em;
    background: white;
    color: black;
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}

.button_top_table {
    display: block;
    box-sizing: border-box;
    border: 1px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.3em 1.5em;
    background: white;
    color: black;
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
    font-size: 0.7rem;
    font-weight: normal;
}

button:hover .button_top_table {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

button:active .button_top_table {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}

.button-icon {
    width: 18px;
    height: auto;
    margin-top: -3px;
}

/* Batas Transisi ================================================================ */

.adminx-main-content {
    transition: all 0.5s ease-in-out;
}

.adminx-content {
    transition: all 0.5s ease-in-out;
}

.adminx-sidebar,
.sidebar-nav-end,
.sidebar-nav-name {
    transition: all 0.5s ease-in-out;
}

/* Efek button lain ========================================================= */
.btn2 {
    width: 170px;
    height: 45px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: #040f16;
    color: #f5f5f5;
    box-shadow: -3px 5px 15px rgba(0, 0, 0, 0.4);
}

.btn2:hover {
    box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn2 .icon {
    position: absolute;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.btn2 .text {
    transform: translateX(55px);
}

.btn2:hover .icon {
    width: 175px;
}

.btn2:hover .text {
    transition: all 0.5s;
    opacity: 0;
}

.btn2:focus {
    outline: none;
}

.btn2:active .icon {
    transform: scale(0.85);
}

.btn3 {
    width: 220px;
    height: 45px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: #040f16;
    color: #f5f5f5;
    box-shadow: -3px 5px 15px rgba(0, 0, 0, 0.4);
}

.btn3:hover {
    box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn3 .icon {
    position: absolute;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.btn3 .text {
    transform: translateX(55px);
}

.btn3:hover .icon {
    width: 220px;
}

.btn3:hover .text {
    transition: all 0.5s;
    opacity: 0;
}

.btn3:focus {
    outline: none;
}

.btn3:active .icon {
    transform: scale(0.85);
}

.btn-navbar {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: #040f1600;
    color: #f5f5f5;
    box-shadow: -3px 5px 15px rgba(0, 0, 0, 0.4);
    border: 1px solid #ffc800;
    margin-top: 5px;
}

.btn-navbar:hover {
    box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn-navbar .icon {
    position: absolute;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.btn-navbar .text {
    transform: translateX(55px);
}

.btn-navbar:hover .icon {
    width: 120px;
}

.btn-navbar:hover .text {
    transition: all 0.5s;
    opacity: 0;
}

.btn-navbar:focus {
    outline: none;
}

.btn-navbar:active .icon {
    transform: scale(0.85);
}

.card-dashboard {
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

/* Komentar ========================================== */

@media (max-width: 576px) {
    #display_comment small,
    a {
        font-size: 0.6em !important;
    }
}

.card-area {
    background-color: rgba(255, 255, 255, 0);
}
/* Toggle Switch ====================================== */

.switch {
    --circle-dim: 1.4em;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5aeae;
    transition: 0.4s;
    border-radius: 30px;
}

.slider-card {
    position: absolute;
    content: "";
    height: var(--circle-dim);
    width: var(--circle-dim);
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    transition: 0.4s;
    pointer-events: none;
}

.slider-card-face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    perspective: 1000px;
    border-radius: 50%;
    transition: 0.4s transform;
}

.slider-card-front {
    background-color: #dc3535;
}

.slider-card-back {
    background-color: #379237;
    transform: rotateY(180deg);
}

input:checked ~ .slider-card .slider-card-back {
    transform: rotateY(0);
}

input:checked ~ .slider-card .slider-card-front {
    transform: rotateY(-180deg);
}

input:checked ~ .slider-card {
    transform: translateX(1.5em);
}

input:checked ~ .slider {
    background-color: #9ed99c;
}

/* Toggle Switch ====================================== */

.title-halaman {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  
  .title-halaman::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    bottom: -4px;
    left: 0;
    border: 2px solid var(--light);
    border-radius: 10px;
  }
  
  .title-halaman::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    bottom: 0;
    left: 15px;
    border-radius: 2px;
    background: var(--light);
  }

  /* Garis ====================================== */

  .border-bottom-line {
    border-bottom: 1px solid #dfdfdf;  
    border-bottom-color: hsla(0,0%,100%,.1);
}

  /* progress bar ====================================== */

.progress {
    height: 5px;
  }
  
  .progress .progress-bar {
    /* width: 0px; */
    transition: 10s;
  }

  .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #00B87B;
    transition: width 0.6s ease;
  }